.*
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
/*/build/
/captures
*.o
*.a
*.so
*.lib
*.dll

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.classpath
.project
app/src/main/obj/
app/src/main/libs/
proguard/
*.log
taboo
