[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = git@github.com:wumch/rapidjson.git
[submodule "libs/stage"]
	path = libs/stage
	url = git@github.com:wumch/stage.git
[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = git@github.com:wumch/websocketpp.git
[submodule "libs/glog"]
	path = libs/glog
	url = git@github.com:google/glog.git
